html{
  position: relative;
  min-height: 100%;
}

body {
  display: block;
  margin: 0 0 0px;
  overflow: scroll;
  font-family: "Trebuchet MS", Verdana, sans-serif, helvetica;
  font-size: 13px;
  line-height: 150%;
  min-width: 340px;
  height: 100%;
}


a {
  text-decoration: none;
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  transition: all 5s;
}

.top-container{
  display: flex;
  border-bottom: 3px solid lightgrey;
}

.landing-photo-container{
  max-width: 75%;
  background-color: black;
  padding-bottom: -25px;
}

img.landing-photo{
  display: block;
	max-width: 100%;
  max-height: 100%;
  min-height: 100%;

}

.title-link{
  font-size: 4em;
  line-height: 1.125em;
  font-family: 'Bungee Outline', cursive, helvetica;
  color: lightgrey;
  padding-top: .5em;
  padding-right: .5em;
}

.tite{
  text-align: right;



}

.temp-title{
  text-align: center;

  padding-top: 5rem;
}

.coming{
  font-family: helvetica;
  color: lightgrey;
  padding-top: 2rem;
}

.menu{
  background-color: black;
  width: 25%;
  padding: 0em 1em 0em 1em;
  text-align: right;
}

.menu-link-container{
  padding-top: 7.5em;
}

.menu-link{
  padding: 1em;
  font-family: 'Bungee Outline', cursive, helvetica;
  color: white;
}

.podcast-link{
  padding-top: 5em;
  padding-right: .5em;  
  font-size: 2.5em;
  color: lightgrey;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.podcast-link:hover{
  color: #fff;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.connect-link{
  padding-top: .5em;
  padding-right: .5em;
  font-size: 2.5em;
  color: lightgrey;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;  
}

.connect-link:hover{
  color:#FFDD1B;
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;  
}

.insta-menu-link{
  padding-top: 10em;
}


.insta-link{
  opacity: .75;
  max-width: 5%;
  padding-right: 1.5em;
  padding-top: 0em;

}

.instasymbol-image{
  max-width: 12%;
}

.insta-link:hover{
  -webkit-animation: neon2 1s ease-in-out infinite alternate;
  -moz-animation: neon2 1s ease-in-out infinite alternate;
  animation: neon2 1s ease-in-out infinite alternate;
}

.next-bottle-banner{
  font-family: 'Bungee Outline', cursive;
  background-color: black;
  color: lightgrey;
  text-align: center;
  font-size: 3.5em;
  letter-spacing: .25em;
  padding: 2.5em;
  border-bottom: 3px solid lightgrey;
}

.next-bottle{
  text-decoration:none;
  color: lightgrey;  
}

.next-bottle:hover{  
  -webkit-animation: neon2 1s ease-in-out infinite alternate;
  -moz-animation: neon2 1s ease-in-out infinite alternate;
  animation: neon2 1s ease-in-out infinite alternate;
}

.coming-wine{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 6em;
  padding-bottom: 6em;
}

.coming-wine-graphic{
  max-width: 20%;
  padding-right: 2em;
}

.wine-blurb-title{
  font-size: 2em;
  font-family: 'Bungee', cursive;
  padding-bottom: 1em;
}

.wine-blurb{
  max-width: 15%;
  padding-top: 3em;
  padding-left: 2em;
  font-family: 'Montserrat', sans-serif;
}

.wine-blurb-container{

}

.bottom-banner{
  background-color: black;
  border-top: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
  text-align: center;
  padding-top: 3.5em;  
  padding-bottom: 3.5em;
}

.lastest-episode-link{
  font-size: 4em;
  line-height: 1.125em;
  font-family: 'Bungee Outline', cursive;
  color: lightgrey;
}

.copyright{
  padding-top: 2em;
  text-align: center;
  height: 3em;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;

}

.connect-box{
  background-color: black;
  color: white;
  padding: 3em 5em 3em 5em;
}


@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}



@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}


@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
